<%- include ("header") -%>
<div class="box" id="heading">
    <h1>About Page</h1>
</div>
<div class="box">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ex vero
        sequi autem, esse nisi, explicabo minima reiciendis architecto
        consectetur quisquam quo qui atque fugit et asperiores harum. Error,
        adipisci. Dicta atque voluptates harum error aspernatur iusto unde
        delectus, quaerat est. Unde rerum perferendis temporibus iste ducimus
        cum tempora earum aliquid modi molestias. Consequuntur provident nemo
        nobis iusto possimus quibusdam? Ullam illum provident consectetur harum
        omnis voluptatem, voluptas ea minima, quae fugiat error alias dolor
        eveniet assumenda magni delectus suscipit quasi laborum reiciendis
        recusandae. Error eveniet necessitatibus incidunt libero cupiditate?
    </p>
</div>
<%- include ("footer") -%>
